<launch>
  <node name="Viseme_Server" type="viseme_relay" pkg="dragonbot_relay" output="screen"/>
  <node name="Lookat_Server" type="lookat_relay" pkg="dragonbot_relay"/>
  <node name="IK_Server" type="ik_relay" pkg="dragonbot_relay"/>
  <node name="ExpressionMotion_Server" type="expression_relay" pkg="dragonbot_relay"/>
</launch>
