<launch>

  <param name="use_sim_time" value="true" type="bool" />

  <!-- load nao description -->

  <include file="$(find nao_description)/launch/nao_state_publisher.launch"/>
  <node pkg="fake_nao" type="fake_nao" name="fake_nao"/>

  <!-- tf package -->
  <node pkg="tf" type="static_transform_publisher" name="nao_kinect"
	args=" 1 1 0 3.1415927 0 0  /openni_rgb_frame /base_link 100"/>

  <!-- convert tf frames to joint angles -->
  <node pkg="imitation" type="angle_calculator.py" name="angle_calculator"></node>

  <!-- run rviz -->
  <node pkg="rviz" type="rviz" name="rviz_node"></node>
  
  <!-- play the bag file -->
  <node pkg="rosbag" type="play" name="rosbag_node" 
  	args="--clock -s 17 -r 0.2 $(find skeleton_data)/data/2012-02-21-15-37-28.bag" />
  
  <!-- start graphing stuff -->
  <node pkg="imitation" type="shape_display.py" name="shape_display"></node>
  <node pkg="rxtools" type="rxplot" name="joint_coords" args="/left_wrist_coords/x:y:z" /> 

<!--	<node pkg="rxtools" type="rxplot" name="joint_coords" args="/left_elbow_coords/x:y:z /left_shoulder_coords/x:y:z" /> -->
<!--   <node pkg="rxtools" type="rxplot" name="joint_angles" args="/joint_angles/joint_angles[0] /coord_data/x" /> -->
</launch> 