<launch>
  <include file="$(find dragonbot_python)/launch/dragonbot_python_nodes.launch" />
  <include file="$(find interface_srv)/launch/dragon_gui.launch" />
  <include file="$(find expeditions_year1)/launch/transforms.launch" /> 
  
  <include file="$(find audio_capture)/launch/capture.launch" />
  <include file="$(find uvc_camera)/launch/camera_node.launch" /> 
</launch>

<!--  <node name="joint_position_publisher_node" pkg="joint_position_publisher" type="joint_position_publisher_node" args="192.168.2.101 2701" output="screen"/> -->

