<launch>
  <param name="cordial_robot" type="str" value="cordial_plugins/cordial_dragonbot"/>
  <node name="cordial_node" type="cordial_node" pkg="cordial_base" output="screen"/>
  <node name="soundplay_node" pkg="cordial_sound" type="soundplay_node.py" output ="screen"/>
  <node name="dragon_speech" pkg="cordial_speech" type="speech.py" args="$(find expeditions_year1)/yaml/phrases.yaml" output="screen"/>

  <!-- <node name="dragon_tracking" pkg="dragonbot_python" type="tf_tracker.py" output="screen"/> -->
  <include file="$(find interface_srv)/launch/dragon_gui.launch" />
  <include file="$(find expeditions_year1)/launch/transforms.launch" /> 
  
  <!-- <include file="$(find audio_capture)/launch/capture.launch" /> -->
  <!-- <include file="$(find uvc_camera)/launch/camera_node.launch" /> -->
</launch>

<!--  <node name="joint_position_publisher_node" pkg="joint_position_publisher" type="joint_position_publisher_node" args="192.168.2.101 2701" output="screen"/> -->

